    <!-- MENU BAR -->
    <div id="menu_wrap" class="outer">
      <div class="inner">
          <menu_item><a class="menu" href="{{site.baseurl}}/">ABOUT ME</a>
          </menu_item>
          <menu_item><a class="menu" href="{{site.baseurl}}/research">RESEARCH</a>
          </menu_item>
          <menu_item><a class="menu" href="{{site.baseurl}}/publications">PUBLICATIONS</a>
          </menu_item>
          <menu_item><a class="menu" href="{{site.baseurl}}/code">CODE</a>
          </menu_item>
	  <menu_item><a class="menu" href="{{site.baseurl}}/assets/pdfs/CV.pdf" target="_blank" rel="noopener noreferrer">CV</a>
          </menu_item>
      </div>
    </div>
