---
---

@import "{{ site.theme }}";
a:hover, .entry-title a:hover {text-decoration: underline;}

@media only screen and (max-width: 500px) {
 div.box {
 display: inline
 }
 figure.alignleft, img.alignleft, figure.alignright, img.alignright {
 float:none;
 }
}

.box {
 display: flex;
 align-items: start;
}

.alignleft {
 float: left;
 margin-right: 1.5em;
 margin-bottom: 1.5em;
}

.alignright {
 float: right;
 margin-left: 1.5em;
 margin-bottom: 1.5em;
}

.text {
 margin-bottom: 1.0em;
 overflow: hidden;
 text-align: justify
}

.menu {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#header_wrap {
  background-image: url('{{ site.baseurl }}/assets/images/water_header.png')
}

#project_title {
  margin: 0;
  color: #000;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #000;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#menu_wrap {
  background: #212121;

}

#menu_wrap .inner {
  padding: 10px 0px 10px 0px;
}

menu_item {
    display: inline;
    padding: 0px 20px;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
